.background{
    background-image: url("../img/back1.png");
    background-size: cover;
    height: 763px;
    font-family: 'Noto Sans HK', sans-serif;
}
header{
    display: flex;
    width: 100%;
    height: 56px;
    background: rgba(0, 0, 0, 0.4);
    justify-content: space-between;
}
.logotype{
    display: block;
    font-size: 20px;
    text-decoration: none;
    color: white;
    margin: 19px 0 0 100px;
}
.logotype:hover{
    color: #3cb878;
}
.nav-menu{
    font-size: 14px;
    color: white;
    margin-top: 2px;
}
.nav-menu a {
    color: #3cb878;
    text-decoration: none;
    padding-left: 2px;
}
.nav-menu :hover{
    text-decoration:underline ;
}
.sprite-nav{
    display: flex;
    margin: 20px 90px 0 0;
}
.after1:after{
    content: "";
    display:block;
    height: 20px;
    width: 1px;
    background-color: #33302e;
    margin: 0 30px 0 20px;
}
.sprite {
    background-image: url("../img/spritesheet.png");
    background-repeat: no-repeat;
    display: inline-block;
    text-align: right;
    margin: 0 21px;
}
.sprite-ic_caledar_1X {
    width: 20px;
    height: 19px;
    background-position: -5px -5px;
}
.sprite-ic_forum_1X {
    width: 28px;
    height: 20px;
    background-position: -34px -5px;
}
.sprite-ic_journey_1X {
    width: 20px;
    height: 20px;
    background-position: -5px -35px;
}
.sprite:hover{
    background-image: url("../img/spritesheetHover.png");
}
.container{
     width: 444px;
     height: 584px;
     margin: 65px auto;
     background-color: white;
    border-radius: 10px;
 }
.box{
    width: 322px;
    height: 523px;
    margin: 29px 60px;
    display: inline-block;
}
.shape{
    position: absolute;
    left: 453px;
    width: 18px;
    height: 18px;
    background-color:#3cb878 ;
}
.sing-up{
    font-size: 20px;
    color: #434343;
}
.log-in{
    color: #3cb878;
    font-size: 14px;
    text-decoration: none;
    display: inline-block;
    margin-left: 205px;
}
.log-in:hover{
    text-decoration: underline;
}
.facebook{
    width: 157px;
    height: 46px;
    text-decoration: none;
    margin: 15px 0;
    background-color: #305db8;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}
.facebook:hover{
    background-color: #264b96;
}
.sprite_F{
    float: left;
    background-image: url("../img/facebook1@1X.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 13px 0 12px 16px;
}
.after2:after{
    float: left;
    content: "";
    display:block;
    height: 26px;
    width: 1px;
    background-color: rgba(71, 78, 104, 0.47);
    margin: 10px 14px 0 8px;
}
.text-item{
    margin: 12px 0;
    font-size: 16px;
    color: white;
}
.google {
    width: 157px;
    height: 46px;
    text-decoration: none;
    margin: 15px 0;
    background-color: #df4a32;
    border: 0;
    border-radius: 3px;
    cursor: pointer;
    display: inline-block;
}
.google:hover{
    background-color: #c3412c;
}
.sprite_G {
    float: left;
    background-image: url("../img/G+@1X.png");
    background-repeat: no-repeat;
    width: 20px;
    height: 20px;
    margin: 13px 9px 12px 16px;
}
form {
    /*border-top: 1px solid rgba(71, 78, 104, 0.47);*/
}
.or{
    position:relative;
    text-align: center;
    padding: 0 16px;
    color:rgba(71, 78, 104, 0.47);
}
.or:before,
.or:after {
    content: '';
    display: inline-block;
    position: relative;
    top: -1px;
    width: 50%;
    height: 1px;
    vertical-align: middle;
    background: rgba(71, 78, 104, 0.47);
}
.or:before {
    left: -10px;
    margin-left: -50%;
}
.or:after {
    left: 10px;
    margin-right: -50%;
}
.input-style{
    padding: 17px 27px;
    margin: 5px auto;
    width: 82%;
    border-color: #0000000a;
}
.input-style:hover{
    box-shadow: 3px 4px 9px 0px rgba(16, 16, 16, 0.18);
}
.checkbox{
    background-color:#3cb878 ;
    margin-top: 10px;
}
.creat {
    width: 322px;
    height: 46px;
    background-color: #3cb878;
    border:none;
    cursor: pointer;
    font-size: 16px;
    border-radius: 3px;
    color: white;
    margin-top: 20px;
}
.creat:hover{
    background-color: #329a65;
}
.hove-under:hover{
    text-decoration: underline;
    cursor: pointer;
}
